a.link {
    color: blue;
    text-decoration: underline;
  }

.confirmation {
    padding: 1rem;
}

.confirmation h1 {
    margin: 0;
    line-height: 1.15;
    font-size: 2rem;
    color: #0070f3;
}

.confirmation h2 {
    margin: 0;
    line-height: 1.15;
    font-size: 1rem;
    padding-top: 1rem;
}